body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}
.button{
	background: #f88379;
	padding: 1em 2em;
	color: #fff;
	border: 0;
}
.button:hover {
	background: #333;
}