body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}
.button{
	background: #f88379;
	padding: 1em 2em;
	color: #fff;
	border: 0;
}
.button:hover {
	background: #333;
}

.modal{
	/*display:none;*/ /*means you wont see it when the page loads */
	position:fixed;
	z-index: 1;
	
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	overflow: auto; /*this enables the scroll bar*/ 
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 25% auto;
	padding:20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn{
	color:#ccc;
	font-size:30px;
	float:right;
}
